<mat-card>
  <mat-card-header>
    <div class="d-flex">
      <img mat-card-avatar [src]="user.avatar_url" alt="" />
      <div class="p-1">
        <span class="fw-700 fs-20">{{ user.name }}</span>
        <div class="fw-400 fs-14 d-block gray-color">@{{ user.login }}</div>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content>
    <p class="fw-400 fs-14 info-color">
      {{ user.bio }}
    </p>

    <ul class="list">
      <li>
        <i class="icon">
          <img src="assets/images/icons/groups.svg" alt="groups" />
        </i>
        <span *ngIf="user.followers">
          {{ user.followers === 1 ? 'seguidor' : 'seguidores' }}
        </span>
        <span *ngIf="!user.followers">
          Não informado
        </span>
      </li>
      <li>
        <i class="icon">
          <img src="assets/images/icons/heart.svg" alt="heart" />
        </i>
        <span *ngIf="user.following">
          {{ user.following || 'Não informado' }} seguindo
        </span>
        <span *ngIf="!user.following">
          Não informado
        </span>
      </li>
      <li class="mt-3">
        <i class="icon">
          <img src="assets/images/icons/office.svg" alt="office" />
        </i>
        {{ user.company || 'Não informado' }}
      </li>
      <li>
        <i class="icon">
          <img src="assets/images/icons/location.svg" alt="location" />
        </i>
        {{ user.location || 'Não informado' }}
      </li>
      <li>
        <i class="icon">
          <img src="assets/images/icons/email.svg" alt="email" />
        </i>
        {{ user.email || 'Não informado' }}
      </li>
      <li>
        <i class="icon">
          <img src="assets/images/icons/link.svg" alt="link" />
        </i>
        <span class="cursor-pointer" (click)="goLink(user.blog)">
          {{ user.blog || 'Não informado' }}
        </span>
      </li>

      <li>
        <i class="icon">
          <img src="assets/images/icons/twitter.svg" alt="twitter" />
        </i>
        <span class="cursor-pointer" (click)="goTwitter(user.twitter_username)">
          {{
            user.twitter_username
              ? '@' + user.twitter_username
              : 'Não informado'
          }}
        </span>
      </li>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <div class="m-auto">
      <button
        mat-flat-button
        class="button-contact"
        (click)="goLink(user.html_url)"
      >
        Contato
      </button>
    </div>
  </mat-card-actions>
</mat-card>
