@import "../node_modules/@angular/material/prebuilt-themes/purple-green.css";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "./assets/styles/fonts.scss";
@import "./assets/styles/colors.scss";
@import "./assets/styles/utils.scss";
@import "./assets/styles/cursor.scss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}
